.productTitle {
  color: black;
}

.singleProducPicBox {
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 100px;
}

.singleProductDescription {
  color: grey;
}

.singleProductPic {
  height: 2%;
}

.carousel-control-next-icon {
  border-radius: 80px;
}

.carousel-control-prev-icon {
  background-color: purple;
  border-radius: 50%;
}

body {
  background-color: #efd2ee;
}
.navbar {
  background-color: purple;
  z-index: 2;
  position: fixed;
  width: 100%;
}

#bienvenido {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: purple; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.card {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(87, 64, 82);
  color: white;
  text-align: center;
  display: inline-flex;
  margin: 5px;
  height: 400px;
}
.img {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(182, 45, 152);
  color: white;
  text-align: center;
}
.main {
  margin-left: 160px;
  padding: 0px 10px;
  padding-top: 65px;
}
.productsContainer {
  margin-top: 20px;
}
