.productTitle {
  color: black;
}

.singleProductContainer {
  display: flex;
}

.singleProducPicBox {
  overflow: hidden;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 100px;
}

.singleProductDescription {
  color: grey;
}

.singleProductPic {
  height: 2%;
}

.carousel-control-next-icon {
  background-color: gray;
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-color: gray;
  border-radius: 50%;
}

.navbar {
  background-color: purple;
}

#bienvenido {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
